version: '3.8'

services:
  app:
    image: 814155132173.dkr.ecr.us-east-1.amazonaws.com/superhero-ttrpg-ecr-repo:latest
    env_file:
      - .env.production
    volumes:
      - /data/sqlite/app-data:/app/data
    restart: always
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"